/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 24px;
    margin: 10px 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #166fe5;
}

.create-account p {
    margin: 15px 0;
}

.create-account a {
    text-decoration: none;
    color: #1877f2;
    font-weight: bold;
}

